<div class="container new-user-form">
	<h2>Log in, you must.</h2>

	<form action="/sessions" method="POST">
		<p>Username: <input type="text" name="name" placeholder="Username"><br></p>
		<p>E-mail Address: <input type="email" name="email" placeholder="E-mail address"><br></p>
		<p>Password: <input type="password" name="password" placeholder="Password"><br></p>
		<br>
		<p><input type="submit" type="submit" value="Submit"></p>
	</form>

</div>

