<div class="footer">
	<ul>
		<li>© 2017 bb8bear, Inc.</li>
		<li>
			<a href="/_privacy">Privacy</a>
		</li>
		<li>
			<a href="https://github.com/BB8bear/Your_Online_Decision_Authority"><img src="../public/GitHub-Mark-32px.png"></a>
		</li>
		<li>
			<a 
		</li>
	</ul>
</div>