<div class="footer">
	<ul>
		<div>© 2017 bb8bear, Inc.</div>
		<div>
			<a href="/_privacy">Privacy</a>
		</div>
		<div>
			<a href="https://github.com/BB8bear/Your_Online_Decision_Authority"><img class="github" src="https://image.flaticon.com/icons/svg/25/25231.svg"></a>
		</div>
		<div>
			<a href="https://www.yelp.com">Powered by Yelp<img class="yelp-burst" src="http://kuhlmanelectricalservices.com/wp-content/uploads/2017/05/icon-yelp.png"></a>
		</div>
	</ul>
</div>