<div class="container">
	
	<%= erb :'_navbar', layout: false %>
</div>

<div class="container">
	<blockquote>
		Hunger is the path to the dark side. Hunger leads to anger. Anger leads to hate. Hate leads to suffering.
		<cite>Master Yoda, probably.</cite>
	</blockquote>
</div>

<div class="image container">
	<img src="https://preview.ibb.co/n2oMSv/yoda.png" class="yoda" border="0">
</div>

<div class="location container">
	

	<form action="/" method="POST">
		
	</form>
</div>

<div class="options container">
	

	<div class="food-categories">

		<form action="/" method="POST" name="search_form">

			<div class="location container">
				<h2>Your location, enter, you must.</h2>
			
				<p>Location: <input type="text" name="search[location]" placeholder="Zip code"></p>
			</div>

			<div class="instruction">
				<h2>To remove undesired food options, click you must.</h2>

				<input id="mexican" type="checkbox" name="search[categories][]" value="mexican" checked><label for="mexican">Mexican</label>
			
				<input id="italian" type="checkbox" name="search[categories][]" value="italian" checked><label for="italian">Italian</label>
			
				<input id="chinese" type="checkbox" name="search[categories][]" value="chinese" checked><label for="chinese">Chinese</label>
			
				<input id="japanese" type="checkbox" name="search[categories][]" value="japanese" checked><label for="japanese">Japanese</label>
			
				<input id="thai" type="checkbox" name="search[categories][]" value="thai" checked><label for="thai">Thai</label>

				<br>
			
				<input id="cuban" type="checkbox" name="search[categories][]" value="cuban" checked><label for="cuban">Cuban</label>
			
				<input id="mediterranean" type="checkbox" name="search[categories][]" value="mediterranean" checked><label for="mediterranean">Mediterranean</label>
			
				<input id="korean" type="checkbox" name="search[categories][]" value="korean" checked><label for="korean">Korean</label>
				
				<input id="french" type="checkbox" name="search[categories][]" value="french" checked><label for="french">French</label>

				<input id="german" type="checkbox" name="search[categories][]" value="german" checked><label for="german">German</label>

				<br>
				<input class="submit" type="submit" value="Tell you where to eat, yoda will.">	
			</div>
		</form>
	</div>

	<div class="result container">
		<% if @recommendation %>
			<p>
				Eat at <%= @recommendation %>, you should. 
				<%= erb :'_result', layout: false, locals: { rating: @rating, review_count: @review_count, url: @url, recommendation: @recommendation, stars: @stars } %>
			</p>
		<% end %>
	</div>
</div>


