<div class="container">
	<h1>Your Online Decision Authority</h1>

	<blockquote>
	Hunger is the path to the dark side. Hunger leads to anger. Anger leads to hate. Hate leads to suffering.
	<cite>Master Yoda, probably.</cite>
	</blockquote>
</div>