<div class="container">
	<h1>Your Online Decision Authority</h1>

	<blockquote>
	Hunger is the path to the dark side. Hunger leads to anger. Anger leads to hate. Hate leads to suffering.
	<cite>Master Yoda, probably.</cite>
	</blockquote>
</div>

<div class="container">
	<div class="instruction">
		<h2>To remove undesired food options, click you must.</h2>
	</div>

	<div class="categories">
		<form action="/" method="POST">
			<input type="submit" name="categories" value="Mexican">
			<input type="submit" name="categories" value="Italian">
			<input type="submit" name="categories" value="Chinese">
			<input type="submit" name="categories" value="Indian">
			<input type="submit" name="categories" value="Thai">
			<input type="submit" name="categories" value="Cuban">
			<input type="submit" name="categories" value="Mediterranean">
			<input type="submit" name="categories" value="Korean">
			<input type="submit" name="categories" value="French">
			<input type="submit" name="categories" value="German">
		</form>
	</div>
</div>

