<div class="container location-form">
	<h2>Your location, enter, you must.</h2>

	<form action="/" method="POST">
		<p>Location: <input type="text" name="location" placeholder="Zip code"><br></p>
		<br>
		<p><input type="submit" type="submit" value="Submit"></p>
	</form>

</div>

